#contenedor-main {
    width: 30%;
    margin-left: 20rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.flex {
    display: flex;
}

#contenedor-aside {
    position: absolute;
    left: 60%;
    top: 10%;
    width: 20%;
    z-index: 1;
}