h1 {
    padding: 0;
    margin: 0;
}

#header {
    background-color: #f6f5f0;
}

#titulo {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

#color-red {
    color: #FF3D3C;
}

.section {
    margin-left: 40rem;
    margin-top: 3.90rem;
    width: 30rem;
}

.fieldset {
    width: 28rem;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.96);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.96);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.96);
}

.legend {
    font-weight: bold;
    font-size: 2.5rem;
    color: #000000;
    background: #FFFFFF;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.ocultar {
    display: none;
}

#imagen {
    width: 10rem;
    height: 10rem;
}

.flex-columnas {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.max-width-11 {
    max-width: 11rem;
}

.max-width-9 {
    max-width: 9rem;
}

.max-width-12 {
    max-width: 12rem;
}

.mgl-2 {
    margin-left: 2rem;
}