h1 {
    padding: 0;
    margin: 0;
}

h2 {
    color: #002d6b;
}

p {
    color: #899cb7;
    font-weight: bold;
}

label {
    color: #082e67;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

#a-bienvenido {
    position: absolute;
    text-decoration: none;
    color: white;
    padding-left: 1.5rem;
    padding-top: 1.6rem;
}

.a-volver {
    position: absolute;
    text-decoration: none;
    color: white;
    padding-top: 0.50rem;
    padding-left: 1.5rem;
}

#btn-inicio {
    width: 15rem;
    height: 5rem;
    background-color: #FF3D3C;
    border-radius: 20rem;
    border: none;
    color: white;
    font-size: 1.5rem;
}

.btn-volver {
    width: 15rem;
    height: rem;
    background-color: #FF3D3C;
    border-radius: 20rem;
    border: none;
    color: white;
    font-size: 1.5rem;
}

#btn-inicio:hover,
.btn-volver:hover {
    cursor: pointer;
    background-color: red;
}

#contenedor-bienvenida {
    width: 28rem;
    border: 1px solid #ccc6bf;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    margin-left: 40rem;
    padding-bottom: 1.5rem;
    margin-top: 10rem;
}

#error {
    width: 28rem;
    border: 1px solid #ccc6bf;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    margin-left: 40rem;
    padding-bottom: 1.5rem;
    margin-top: 7rem;
    color: red;
}

#header {
    background-color: #f6f5f0;
}

#titulo {
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

#color-red {
    color: #FF3D3C;
}

.color-rojo {
    color: red;
}

.section {
    margin-left: 40rem;
}

.fieldset {
    width: 24rem;
    border: 1px solid #ccc6bf;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    padding-left: 3rem;
}

.fieldset2 {
    width: 28rem;
    border: 1px solid #ccc6bf;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    padding-left: 1.5rem;
}

.fieldset5 {
    width: 18rem;
    border: 1px solid #ccc6bf;
    -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.72);
    padding-left: 1.5rem;
}

.legend {
    font-weight: bold;
    font-size: 2.5rem;
    color: #000000;
    background: #FFFFFF;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.ocultar {
    display: none;
}

#imagen {
    width: 10rem;
    height: 10rem;
}

.flex-columnas {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.submit {
    background-color: #ff6766;
    border-radius: 20rem;
    border: none;
    width: 7rem;
    height: 2rem;
    color: white;
}

.reset {
    background-color: #ff6766;
    border-radius: 20rem;
    border: none;
    width: 7rem;
    height: 2rem;
    color: white;
}

.contenedor-volver {
    background-color: #ff6766;
    border-radius: 20rem;
    border: none;
    width: 15rem;
    height: 2rem;
    color: white;
}

.reset:hover,
.submit:hover,
.contenedor-volver:hover {
    background-color: red;
    cursor: pointer;
}

.max-width-11 {
    max-width: 11rem;
}

.max-width-9 {
    max-width: 9rem;
}

.max-width-12 {
    max-width: 12rem;
}

.mgl-2 {
    margin-left: 2rem;
}

.mg-btm-1 {
    margin-bottom: 1rem;
}

#btn-crear {
    width: 15rem;
    height: 5rem;
    background-color: #FF3D3C;
    border-radius: 20rem;
    border: none;
    margin-left: 45rem;
    margin-top: 17rem;
    color: white;
    font-size: 1.5rem;
}

.crearCv {
    width: 15rem;
    height: 5rem;
    background-color: #FF3D3C;
    border-radius: 20rem;
    border: none;
    margin-left: 45rem;
    margin-top: 17rem;
    color: white;
    font-size: 1.5rem;
}

.crearCv:hover {
    cursor: pointer;
}

#btn-crear:hover {
    cursor: pointer;
    background-color: red;
}

.hr-rojo {
    border-color: red;
}