#contenedor-pasos {
    display: flex;
    background-color: #F6F5F0;
    padding-left: 15rem;
    height: 6rem;
}

#color-rojo {
    color: red;
    font-weight: bold;
}

.flex {
    display: flex;
}

#numero-1 {
    margin-left: 1.5rem;
}

.mt-1-8 {
    margin-top: 1.8rem;
}

#numero-verde {
    border-radius: 20rem;
    border: 2px solid #029e81;
    width: 1.20rem;
    height: 1rem;
    text-align: center;
    padding-top: 0.20rem;
    font-size: 0.90rem;
}

.numero-gris {
    border-radius: 20rem;
    border: 2px solid gray;
    width: 1.20rem;
    height: 1rem;
    text-align: center;
    padding-top: 0.20rem;
    font-size: 0.90rem;
}

.color-numero {
    color: #029e81;
    text-align: center;
}

#linea-verde {
    border-top: 2px solid #029e81;
    width: 10rem;
    margin-top: 0.90rem;
}

.linea-gris {
    border-top: 1px solid gray;
    width: 10rem;
    margin-top: 0.90rem;
}

.descripcion-pasos-1 {
    position: absolute;
    top: 2.7rem;
    left: 21rem;
}

.descripcion-pasos-2 {
    position: absolute;
    top: 2.7rem;
    left: 33rem;
}

.descripcion-pasos-3 {
    position: absolute;
    top: 2.7rem;
    left: 45.2rem;
}

.descripcion-pasos-4 {
    position: absolute;
    top: 2.7rem;
    left: 56.7rem;
}

.descripcion-pasos-5 {
    position: absolute;
    top: 2.7rem;
    left: 66.6rem;
}

.descripcion-pasos-6 {
    position: absolute;
    top: 2.7rem;
    left: 80rem;
}

#fntw-b {
    font-weight: bold;
}

.fntw-n {
    font-weight: normal;
}